@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss";

@theme {
  --font-lucky: "Luckiest Guy", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --shadow-search: 0px 0px 15px 1px rgba(100, 100, 111, 0.2);
  --shadow-dropdown: 0px 0px 15px 1px rgba(100, 100, 111, 0.1),
    0px 0px 15px 1px rgba(100, 100, 111, 0.1);
  --shadow-poster: -8px 0 15px -5px rgba(0, 0, 0, 0.5),
    8px 0 15px -5px rgba(0, 0, 0, 0.5);
  --shadow-banner: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  --animate-above: above 3s ease-in;
  @keyframes above {
    0% {
      top: 20px;
    }
    100% {
      top: 0px;
    }
  }
}

body {
  background-color: hsl(224, 15%, 8%);
  color: hsl(210, 40%, 98%);
  background-size: 100%;
  background-repeat: no-repeat;
}

main {
  background: radial-gradient(
    circle at 50% 0%,
    rgba(30, 39, 83, 0.1) 0%,
    rgba(83, 109, 237, 0.2) 50%,
    rgba(83, 109, 237, 0.3) 100%
  );
  height: auto;
}
